*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
}

@font-face {
    font-family: 'akazidenz' ;
    src: 
    url(./fonts/Akzidenz-grotesk-light.ttf) format('truetype'),
    url(./fonts/Akzidenz-grotesk-roman.ttf) format('truetype');

    
}

:root{
    font-size: 62.5%;

    --color-50:#ffffff;
    --color-100:#ed15a5;
    --color-200:#312d6a;
    --color-300:#2d2c3f;
}


body{
    font-family: 'akazidenz' , sans-serif;
}

main section h1{
    font-size: 2rem;
    color: var(--color-100);
    margin-bottom: 0.6rem;
}


.astronaut{
    position: relative;
    height: 510px;
    
}

.title{
    position: absolute;
    top: 180px;
    width: 187px;
    padding-left: 1rem;

}

.title > img{
    padding-top: 1rem;
    padding-left: 30%;
}

.astronaut > img{
    position: absolute;
    top: 0;
    right: 0;
    width: clamp(270px, 75%, 600px);
}

.planet{
    align-items: center;
    background-color: var(--color-200);
    padding: 2rem 3rem;
}



.planet article{
    background-color: var(--color-50);
    padding: 1.6rem 3rem;
    border-radius: 1rem;
    margin-bottom: 2rem;

    height: 400px;

}

.planet h2{
    color: var(--color-100);
    font-size: 2rem;
    margin: 3rem 0 1rem;
}

.planet p{
    color: var(--color-300);
    font-size: 1.6rem;
    line-height: 2.4rem;

}

.contact{
    background-image: url(./assets/stars.svg);
    background-repeat: no-repeat;
    background-position: right ;
    background-size: 70%;

    padding-left: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact form legend{
    font-weight: bold;
    font-size: 2.4rem;
    padding-top: 3rem ;
    color: var(--color-100);
}

.input-wrapper label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input{
    min-width: 320px;
    height: 3.5rem;
    padding: 2rem 2rem 2rem 4rem;

    border-radius: 1rem;
    border:1px solid #312d6a;

    font-family: 'akazidenz' , sans-serif;
    font-size: 1.6rem;

}

#input-name{
    background-image: url(./assets/person.svg);
    background-repeat: no-repeat;
    background-position: 3% 50%;
}

#input-email{
    background-image: url(./assets/mail.svg);
    background-repeat: no-repeat;
    background-position: 3% 50%;
}

.input-wrapper textarea{
    min-width: 320px;
    border-radius: 1rem;

    font-family: 'akazidenz' , sans-serif;

    padding: 2rem;

}

form button{
    width: 180px;
    padding: 1.4rem 1.6rem;

    border-radius: 1.6rem;
    border: none;

    background-color: var(--color-200);
    color: var(--color-50);
}

footer{
    margin-top: 3rem;
    background-color: var(--color-200);
    text-align: center;
    padding: 3rem;

    color: var(--color-50);
    font-size: 1.4rem;
}


@media (min-width: 640px) {
    .planet{
        display: grid;
        grid-template-columns: 
            repeat(auto-fit, minmax(280px, 1fr));

        gap: 2rem;
    }

    .astronaut{
        height: 660px;
    }

    .title{
        top: 300px;
        width: 600px;
        padding-left: 2.4rem;
        
    }

    .title h1{
        font-size: 4rem;
    }

    .title h3{
        font-size: 2rem;
    }

    .title img{
        padding-left: 0;

        margin-top: 10rem;

    }

    .input-wrapper input, textarea{
        width: 500px;
    }
}

@media (min-width: 1000px) {
    .title{
        margin-left: 4rem;
    }
    .astronaut img{
        right: 50px;
    }

    .title h1{
        font-size: 5rem;
    }
}